<link rel="stylesheet" href="static/css/style-displayFlight-page.css"/>

    <div id = "displayList" class = "container" style = "margin-top : 2%;padding:20px;">
            <h1>Display Flight</h1>
           
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a style = "color:black" data-toggle="tab" class="nav-link" href="#list-view">List View</a>
                    </li>
                    <li class="nav-item">
                      <a style = "color:black" data-toggle="tab" class="nav-link active" href = "#matrix-view">Matrix View</a>
                    </li>
                    
            </ul>
            <div class = "tab-content">
                    <div class = "table tab-pane active" id = "matrix-view">
                        <br>
                        <div id = "page_info"></div>
                        <br>  
                        <table class = "table">
                                <thead class = "thead-dark">
                                    <tr>
                                        <td><b>Price</b></td>
                                        <td><b>Airline</b></td>
                                        <td><b>Take-off</b></td>
                                        <td><b>Landing</b></td>
                                        <td><b>Stops(Duration)</b></td>
                                    </tr>
                                    
                                <tbody id = "body-matrix">


            
                                </tbody>
            
            
                            </table>
            
            
            
                        </div>

                        <div id = "list-view" class = "tab-pane fade">
                            
                            
                            <!-- <div class = "airport-card">
                                    <table class = "table">
                                            <tbody class = "">
                                                    <tr>
                                                            <th>Price</th>
                                                            <th>Airline</th>
                                                            <th>Take-off</th>
                                                            <th>Landing</th>
                                                            <th>Stop(Duration)</th>
                                                        </tr>     
                                            </tbody>
                                    </table>
                            </div> -->
                            
                            
                           
                            



                        </div>
                        <br>
                        <div><nav aria-label="Page navigation example">
                            <ul class="pagination" id = "pageList">
                              
                              <!-- li class="page-item"><a class="page-link" href="#">1</a></li -->
                              <!--li class="page-item"><a class="page-link" href="#">2</a></li -->
                              <!--li class="page-item"><a class="page-link" href="#">3</a></li -->
                              
                            </ul>
                          </nav></div>
                        
            </div>
            
           
            
            

    </div>
