.numberOfPage{
    color:green;
    font-size:25px;
}
.airport-card{
    border : 1px #e1e3e8 solid;
    padding:10px;
    border-width:.5px;
    margin-top:5px;
}
.airport-card:hover{
    transition:.1s;
    background-color:#ebeef4;
}
.price_tag{
    font-size:3em;
}
