.radio-list-group{

    display:inline-block;
    text-align:left;
    padding-right:30px;
}
.dropdown-section{
    display:grid; 
    grid-template-columns: 50% 50%;
    padding-bottom:10px;
    grid-gap:10px;
}
.colored{
    font-size:15px;
    border:none;
    padding:5px;
    outline:none;
    user-select:none;
    background-color:#4277f4;
    color:white;
    border-radius : 5px;    
}
html{
    font-family: 'Maven Pro', sans-serif;
}
.price-link{
    font-size:35px;
}
body{
    
    background-size:cover;
    transition:all 0.3s ease;
    background-repeat: no-repeat;
}

input[type=radio]:checked+span+b{
    

}
input[type=radio]+span{
   
    background-color:#eee;
    border:1px solid black;

}
input[type=radio]:checked+span{
   
    background-color:black;

}
input[type=radio]+span:before{
    border : 1px solid green;

}
input[type=radio]:checked+span:before{
    
    background-color:pink;

}
input[type=radio]{
    display:none;
}
.radio{
    width:15px;
    height:15px;
    border-radius:50%;
    display:inline-block;
    background-color:blue;
    
}
.label-custom{
    width:100%;
}
.colored:hover{
    transition : .5s;
    background-color:black;
    color:white;
    
    
}
.flight_header{
    padding:40px;
    background-image : url('../imgs/cover.gif');
    background-size:cover;
    color:white;
}
.card_custom{
    border: .5px solid #ced3db; 
    
}
.line-border{
    border-right:1px solid #d5dbe5;
    line-height:50%;
    padding : 10px;
}
h1{
    font-family: "Times New Roman", Times, serif;
}
.bordered{
    padding:1%;
    margin-top:5%;
}
.bordered:hover{
    transition : .8s;
    border-radius :10px;
    -webkit-box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
}
.bordered:not( :hover ){ 

    transition:.8s;
 }

@media only screen and (max-width: 1000px) {
   .line-border{
       border-style : none;
   }
}